@import "setup";

body{
    background-color:teal;
}

h1{
    color:white;
    font-family:sans-serif;
    font-size:14rem;
    text-align:center;
    letter-spacing:-2px;
    margin:0;
}

p{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:2rem;
    text-align:center;
    margin-top:50px;

}